* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #007cb9;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #005689;
}
html {
  min-height: 100%;
}
body {
  font-family: "Montserrat";
  background-color: #d5eeff;
  font-size: 18px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-container {
  background-color: #ff895d;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  padding-top: 15px;
}

.goback a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 10px;
}
.goback a:hover {
  color: #005689;
  animation: all 200ms ease-in-out;
}
.contact-form-header {
  margin-top: 120px;
  text-align: center;
  background-color: #fde9c9;
  border: 2px solid #005689;
  border-radius: 10px;
  width: 70%;
  padding: 40px;
  box-shadow: 5px 5px 3px #dedede;
}
.contact-form-header h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.contact-form-header a {
  color: #005689;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}
.contact-form-header a:hover {
  text-decoration: underline;
  color: #007cb9;
}
.contact-form-header a:active {
  color: #ff895d;
}
.contact-form {
  background-color: #fde9c9;
  border: 2px solid #005689;
  border-radius: 10px;
  width: 70%;
  padding: 50px;
  margin-top: 40px;
  box-shadow: 5px 5px 2px #dedede;
}
.form-row {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #ffffff;
  border: 1px solid #005689;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}
.form-row label {
  margin-bottom: 15px;
}
.form-row input[type="email"]:invalid {
  border: 1px solid #cd4545;
  box-shadow: none;
}

.form-row select {
  width: 100%;
  padding: 5px;
  -webkit-appearance: none;
  border: 1px solid #005689;
}
.form-row textarea {
  font-family: "Montserrat";
  font-size: 15px;
  border: 1px solid #005689;
  border-radius: 5px;
  min-height: 250px;
  margin-bottom: 10px;
  padding: 15px;
  resize: none;
  width: 100%;
}
.form-row button {
  font-size: 20px;
  color: #005689;
  font-weight: 700;
  background-color: #d5eeff;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
}
.form-row button:hover {
  background-color: #007cb9;
  color: white;
}
.footer {
  background-color: #ff895d;
  margin-top: 60px;
  height: 17%;
  bottom: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 5px;
}
.social {
  margin-top: 5px;
}
@media only screen and (min-width: 700px) {
  .contact-form-header,
  .contact-form {
    width: 800px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"],
  .form-row input[type="email"] {
    width: 300px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    padding-right: 30px;
  }
  .form-row select {
    max-width: 300px;
  }

  .form-row textarea {
    margin-top: 10px;
    max-width: 300px;
  }
  .form-row button {
    display: block;
    margin: 0 auto;
  }
}
